* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin-top: 4rem;
}

/* variables */
:root {
    --width: 1280px;
    --height: 50vh;
    --block-height: 0px;
}

/* main */
#lift_block {
    position: relative;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    width: var(--width);
}

/* sub div */
.floors {
    /* height: var(--height); */
    /* padding-top: 20vh; */
}


.grid {
    display: grid;
    grid-gap: 0px;
    border-bottom: 1px solid black;
}

.block {
    width: var(--width);
    height: 10vh;
    border-bottom: 1px solid black;
}

/* outside the block*/
.lift {
    position: absolute;
    bottom: var(--block-height);
    left: calc(var(--width) - 90%);
    background-color: rgb(4, 178, 117);
    width: 30px;
    height: 80px;
    transition: all 2s;
}

.lift[data-value="2"] {
    left: calc(var(--width) - 85%)
}