* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



/* variables */
:root {
    --width: 1280px;
    --height: 50vh;
    /* --block-height: 0px; */
    --data-index: "1";
    --primary-color: #29013D;
    --secondary-color: #EAEEF1;
    --tertiary-color: #B268DF;
}

body {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    margin: 5vh auto;
    max-width: 400px;
    background-color: var(--tertiary-color);
    padding: 30px 10px;
    border-radius: 25px;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

form div {
    display: flex;
    justify-content: left;
    align-items: left;
    gap: 20px;
    flex-direction: column;
}

img {
    width: 40%;
    margin-left: 25%;
}

input {
    width: 100%;
    border-radius: 10px;
    padding: 10px;
}

button {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}


#btn:hover {
    background-color: var(--tertiary-color);
}


#refresh {
    display: none;
    background-color: var(--tertiary-color);
    /*color: var(--secondary-color);
    padding: 10px;
    border-radius: 10px;
    margin: 20px; */
}

.above,
.below {
    background-color: var(--tertiary-color);
    padding: 10px;
}

/* main */
#lift_block {
    position: relative;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    width: var(--width);
}

.grid {
    display: grid;
    grid-gap: 0px;
    border-bottom: 1px solid black;
}

.block {
    width: var(--width);
    border-bottom: 1px solid var(--secondary-color);
    padding-top: 4rem;
}

.floors {
    max-width: 75%;
}

input[type=checkbox] {
    position: absolute;
    /* Force the checkbox at the start of the container */
    cursor: pointer;
    /* Indicate the curtain is clickable */
    width: 100%;
    /* The checkbox is as wide as the component */
    height: 100%;
    /* The checkbox is as tall as the component */
    z-index: 100;
    /* Make sure the checkbox is on top of everything else */
    opacity: 0;
    /* Hide the checkbox */
}

#lift-section {
    position: absolute;
    /* bottom: var(--block-height); */
    bottom: 0px;
    left: calc(var(--width) - 90%);
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

/* outside the block*/
.lift {
    position: relative;
    background-color: var(--tertiary-color);
    width: 50px;
    height: 80px;
    transition: all 2s ease;
    overflow: hidden;
}

input[type=checkbox]:checked~div.lift-left {
    transform: translateX(0);
}

/* Slide the second panel in */
input[type=checkbox]:checked~div.lift-right {
    transform: translateX(0);
}

.lift-left {
    content: '';
    position: absolute;
    left: 5px;
    top: 10px;
    right: 25px;
    bottom: 0;
    border: 1px solid var(--primary-color);
    background-color: var(--secondary-color);
    transform-origin: right;
    transform: translateX(-100%);
    transition: all 1s;

}

/* .lift-left:hover {
    transform: translateX(-100%);
} */

.lift-right {
    content: '';
    position: absolute;
    left: 25px;
    top: 10px;
    right: 5px;
    bottom: 0;
    border: 1px solid var(--primary-color);
    background-color: var(--secondary-color);
    transform-origin: left;
    transform: translateX(100%);
    transition: all 1s;
}